{% extends "base.html" %}
{% block content %}
<style>
.quote {
        width: 100%;
        height:10%;
        overflow:hidden;
    }
</style>
<img src="static/images/home/exhibition_cta.jpg" width="100%" loading="lazy">
<div class="quote"><img src="static/images/home/quote.jpg" width=100%, loading="lazy"></div>
<div class="quote"><img src="static/images/home/experience.png" width=100%, loading="lazy"></div>
<div class="quote"><img src="static/images/home/photo_tour.png" width=100%, loading="lazy"></div>
<div class="quote"><img src="static/images/home/meet_artist.png" width=100%, loading="lazy"></div>
<div class="quote"><img src="static/images/home/categories.png" width=100%, loading="lazy"></div>
<div class="quote"><img src="static/images/home/prints.png" width=100%, loading="lazy"></div>
<div class="quote"><img src="static/images/home/books.png" width=100%, loading="lazy"></div>



{% endblock %}