{% extends "base.html" %}
{% block content %}
<style>


</style>
<div class="retreat-container">
    <img src="../static/images/spiritual/retreats/header.jpg" width="100%">
    <div class="retreat-intro-box">
        <p class="heading-medium text-center">RETREAT TITLE</p>
        <p class="text-medium text-center">This is the summary of the retreat in as brief words as possible.</p>
        <p class="text-bold text-center">DD/MM/YYYY - DD/MM/YYYY</p>
        <p class="retreat-venue text-medium text-center">Address Line 1 <br> Address Line 2 <br> City and Country with Pin <br>Landmark Lorem Ipsum dolor amet</p>
        <div class="retreat-activities">
            <div class="retreat-activities-card text-center">
                <p class="retreat-activities-card-heading">Activity 1</p>
                <p class="retreat-activities-card-text">This is short description of the activity.</p>
            </div>
            <div class="retreat-activities-card text-center">
                <p class="retreat-activities-card-heading">Activity 1</p>
                <p class="retreat-activities-card-text">This is short description of the activity.</p>
            </div>
            <div class="retreat-activities-card text-center">
                <p class="retreat-activities-card-heading">Activity 1</p>
                <p class="retreat-activities-card-text">This is short description of the activity.</p>
            </div>
            <div class="retreat-activities-card text-center">
                <p class="retreat-activities-card-heading">Activity 1</p>
                <p class="retreat-activities-card-text">This is short description of the activity.</p>
            </div>
            <div class="retreat-activities-card text-center">
                <p class="retreat-activities-card-heading">Activity 1</p>
                <p class="retreat-activities-card-text">This is short description of the activity.</p>
            </div>
            <div class="retreat-activities-card text-center">
                <p class="retreat-activities-card-heading">Activity 1</p>
                <p class="retreat-activities-card-text">This is short description of the activity.</p>
            </div>
        </div>
    </div>
    <div class="retreat-prerequisites">
        <p class="heading-small">PREREQUISITES</p>
        <p class="retreat-prerequisites-text">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem
            placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
            vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere.
            Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
    </div>
    <div class="retreat-to-bring">
        <p class="heading-small">STUFFS TO BRING</p>
        <p class="retreat-to-bring-text">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem
            placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
            vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere.
            Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
    </div>
    <div class="retreat-accommodation">
        <p class="heading-small">ACCOMMODATION</p>
        <p class="retreat-accommodation-text">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem
            placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
            vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere.
            Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
    </div>
    <img src="../static/images/spiritual/retreats/accommodation.jpg">
</div>

{% endblock %}