{% extends "main_dashboard.html" %}
{% block sub_dashboard %}
<style>
    .operations-menu-column {
        background: #DEDEDE;
    }
    .operations-menu-column button {
        padding:1% 0%;
        margin: 3% 0%;
    }
    .operations-canvas-column {
        border-color: #DEDEDE;
    }
    .status-column {
        background: #474747;
    }
    .form-half-input {
        width: 50%;
    }
    .double-item-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .description-label {
        color: #CF7E27;
    }
</style>

<p class="admin-page-heading heading-medium text-center ">BLOGS ADMIN-PANEL</p>
<div class="full-width-div admin-panel-container">
    <div class="operations-menu-column text-center">
        <p class="heading-small" style="color:#636363;">OPERATIONS</p>
        <button class="btn-blog-admin-operations">NEW BLOG</button>
<!--        <button class="btn-teal">EDIT RETREAT</button>-->
    </div>
    <div class="operations-canvas-column">
        <div class="default-form-container">
            <form id="newRetreat" style="width:80%;" action="{{ url_for('admin_panel.new_retreat_datafeed') }}">
                <p class="heading-small text-center"> CREATE NEW BLOG</p>
                <input type="text" name="title" placeholder="Retreat Title" required>
                <input type="text" name="author" placeholder="Author (Leave empty to use default name)">
                <input type="text" name="vol_issue" placeholder="Volume or Issue (Optional)">

                <div class="double-item-container">
                    <label class="form-half-input">Schedule</label>
                    <input class="form-half-input" type="date" name="scheduled_date">
                </div>
                <label>Category <i class="fa fa-caret-down"></i></label>
                <label class="form-half-input" for="cat1">Cat1</label>
                <input class="form-half-input" type="checkbox" id="cat1" name="category" value="value1">
                <label class="description-label">Leave Schedule date empty to PUBLISH NOW</label>
                <input type="text" name="v1" placeholder="Venue line 1">
                <input type="text" name="v2" placeholder="Venue line 2">
                <input type="text" name="v3" placeholder="Venue line 3">
                <input type="text" name="city_country_pin" placeholder="City, Country and Pin">
                <input type="text" name="landmark" placeholder="Landmark">
                <input type="text" name="a1" placeholder="Activity 1">
                <input type="text" name="a2" placeholder="Activity 2">
                <input type="text" name="a3" placeholder="Activity 3">
                <input type="text" name="a4" placeholder="Activity 4">
                <input type="text" name="a5" placeholder="Activity 5">
                <input type="text" name="a6" placeholder="Activity 6">
                <input type="text" name="a7" placeholder="Activity 7">
                <input type="text" name="a8" placeholder="Activity 8">
                <input type="text" name="a9" placeholder="Activity 9">
                <textarea rows="3" name="prerequisites">Prerequisites</textarea>
                <textarea rows="3" name="stuffs_to_bring">Stuffs to bring</textarea>
                <textarea rows="3" name="accommodation">Accommodation</textarea>
                <textarea rows="3" name="local_commutation">Local commutation</textarea>
                <input type="text" name="charges" placeholder="Charges">
                <input type="text" name="contact" placeholder="Contact">
                <input type="text" name="contact" placeholder="team">
                <textarea rows="3" name="rules">Rules</textarea>
                <input type="number" name="total_seats" placeholder="Total Seats">
                <input type="number" name="early_bird_seats" placeholder="Early bird seats">
                <button class="btn-teal" type="submit">Add to database</button>
            </form>
        </div>
    </div>
    <div class="status-column">

    </div>
</div>

{% endblock %}