{% extends "main_dashboard.html" %}
{% block sub_dashboard %}
<style>
    .operations-menu-column {
        background: #FFD7B5;
    }
    .operations-canvas-column {
        border-color: #FFD7B5;
    }
    .status-column {
        background: #4F3B30;
    }
</style>

<p class="admin-page-heading heading-medium text-center ">RETREATS ADMIN-PANEL</p>
<div class="full-width-div">
    <div class="operations-menu-column">

    </div>
    <div class="operations-canvas-column">

    </div>
    <div class="status-column">

    </div>
</div>
{% endblock %}