{% extends "main_dashboard.html" %}
{% block sub_dashboard %}

<style>
    .operations-menu-column {
        background: #C2E1FF;
    }
    .operations-canvas-column {
        border-color: #C2E1FF;
    }
    .status-column {
        background: #364859;
    }
</style>
<p class="admin-page-heading heading-medium text-center ">RETREATS ADMIN-PANEL</p>
<div class="full-width-div">
    <div class="operations-menu-column">

    </div>
    <div class="operations-canvas-column">

    </div>
    <div class="status-column">

    </div>
</div>
{% endblock %}