{% extends "main_dashboard.html" %}
{% block sub_dashboard %}

<style>
    .operations-menu-column {
        background: #E7C7FF;
    }
    .operations-canvas-column {
        border-color: #E7C7FF;
    }
    .status-column {
        background: #47374F;
    }
</style>
<p class="admin-page-heading heading-medium text-center ">RETREATS ADMIN-PANEL</p>
<div class="full-width-div">
    <div class="operations-menu-column">

    </div>
    <div class="operations-canvas-column">

    </div>
    <div class="status-column">

    </div>
</div>
{% endblock %}